.page-container{
  font-family: 'montserrat';
  height: 100vh;
  overflow: hidden;
  font-weight: 500;
  background-color: #666666;
  position: relative;
}
.page-content .top-card .top-card-content{
  height: 80vh;
  background-color: #D44829;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 96%, 0 80%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 96%, 0 80%);
  position: relative;
}
.page-content .top-card .info-section{
  position: absolute;
  top: 60px;
}
.info.col-12 {
  height: auto;
  font-size: 1.9em;
}
.page-content .top-card .info-section .info-section-content{
  background-color: #fff;
  height: 500px;
  width: 30%;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(80, 78, 78, 0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(80, 78, 78, 0.75);
  box-shadow: 0px 0px 8px 0px rgba(80, 78, 78, 0.75);
  position: absolute;
}
.page-content .top-card .info-section .info-section-content h1{
  color: #D44829;
  text-align: center;
  padding-top: 20px;
  text-transform: uppercase;
  font-family: 'Quicksand', sans-serif;
}
.page-content .top-card .info-section .info-section-content .info table td{
  padding: 10px;
  color: #D44829;
}
.page-content .top-card .back-button a{
  padding: 9px;
  background-color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4em;
  color: #D44829;
  border-radius: 7px;
  transition: box-shadow 0.3s;
}
.page-content .top-card .back-button a:hover{
  -webkit-box-shadow: 0px 0px 8px 0px rgba(80, 78, 78, 0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(80, 78, 78, 0.75);
  box-shadow: 0px 0px 8px 0px rgba(80, 78, 78, 0.75);
}
.page-content .top-card .back-button{
  padding: 30px;
}

.page-content .top-card .info-section .page-form .pagechamp {
    padding: 10px;
    width: 100%;
    background: #000;
    border: 0px;
    color: #fff;
    font-size: 1.5em;

}
.page-content .top-card .info-section .page-form #pagesubmit {

    padding: 10px;
    background: #D44829;
    color: #fff;
    font-size: 1.5em;
    text-transform: uppercase;
    width: 100%;
    border-radius: 7px;
    margin-top: 9px;
    border: 0px;
}
.page-content .top-card .info-section .page-form #pagesubmit:hover{
  -webkit-box-shadow: 0px 0px 8px 0px rgba(80, 78, 78, 0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(80, 78, 78, 0.75);
  box-shadow: 0px 0px 8px 0px rgba(80, 78, 78, 0.75);
}





















/*screen resolution <= 1024 */
@media screen and (max-width: 1024px) {
  .page-content .top-card .info-section .info-section-content{
    width: 40%;
  }
}

/*screen resolution <= 1024 */
@media screen and (max-width: 900px) {
  .page-content .top-card .info-section .info-section-content{
    width: 50%;
  }
}

/*screen resolution <= 1024 */
@media screen and (max-width: 650px) {
  .page-content .top-card .info-section .info-section-content{
    width: 90%;
    left: 32px;
    top: 20px;
  }
}

/*screen resolution <= 1024 */
@media screen and (max-width: 375px) {
  .page-content .top-card .info-section .info-section-content{
    left: 18px;
  }

}